
  
.col-ms-2 li:hover{
    /*background:red;*/
    color: red;
    transition: ease-in-out 0.5s;
   /* border-bottom: 2px solid orange;  */
   .grab {cursor: -webkit-grab; cursor: grab;}
}
.abc
{
    margin-left: 500px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.row li
{
    display: inline-block;
    padding : 10px;
font-size: 15px;

}

.main
{
    background: black;
    color: white;
    height: 170px;


}

.a{
    margin-left: 200px;
}

.left
{
   margin-left: 200px;
}

.bu
{
    display: inline-block;
    padding: 0px;
}
.right
{
    float: right;
}


/*    second part   */

.ff
{
    display: inline-block;
}

form{
    margin-top: 10px;
    background: black;
    width: 300px;
   margin-left: 700px; 
    color: white;
    padding: 20px;
    padding-right: 10px;
   
}


.srinu
{
    height: 80px;
    background: red;
}

